# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Output of `make test-local`, which runs `go tool cover -html=coverage.out -o coverage.html`
coverage.html

# Test files and typical binary names.
test.yml
development.yml

### VisualStudioCode ###
.vscode/*
**/.history

# Mac .DS_Store metadata files
.DS_Store

# Our own binary, of course
gort

# VS Code workspaces
*.code-workspace