version: '3'

services:
  gort:
    image: getgort/gort:latest
    command: "start -v"
    ports:
      - "4000:4000"
    volumes:
      - ./development.yml:/config.yml
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - GORT_DB_PASSWORD=veryKleverPassw0rd
    networks:
      - gort

  jaeger:
    image: jaegertracing/all-in-one:1.21
    ports:
      - 16686:16686
      - 14268:14268
    networks:
      - gort

  postgres:
    image: postgres:13
    # Uncommenting ports lets the database to be inspected with pgAdmin or similar but breaks `make test-local`
    # ports:
    #   - "5432:5432"
    environment:
      - POSTGRES_USER=gort
      - POSTGRES_PASSWORD=veryKleverPassw0rd
    networks:
      - gort

networks:
  gort:
